[Unit]
After=network.target

[Service]
Type=notify
ExecStart=/usr/local/bin/fwr-server
Restart=always
RestartSec=10


[Install]
RequiredBy=network.target
